@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  /**
    font-family: "Source Code Pro", monospace;
  */
}

html {
  font-family: "Source Code Pro", monospace;
  background-color: white;
}

h2 {
  font-family: "Major Mono Display", monospace;
  text-decoration: underline;
  text-decoration-color: lightgrey;
  text-decoration-thickness: 6px;
}
/**
  Navbar
*/
.navbar {
  /**
    font-size: 600;
  */
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  /**
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  */
}

.navi-home:hover {
  fill: #2afadf;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navi-home {
  transition: all 0.3s;
  touch-action: manipulation;
  cursor: pointer;
}

/**
  =================================================================================================================================================
  Navigation Bar
  =================================================================================================================================================
*/

ul {
  font-family: "Fira Code", monospace;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

ol {
  float: left;
  font-weight: 500;
}

ol a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

ol a:hover {
  color: #f63c61;
}

.mini-nav {
  display: flex;
  height: 10vh;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 61%;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.mini-nav-functions {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 27px;
}

/**
  =================================================================================================================================================
  Intro Text
  =================================================================================================================================================
*/

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.intro-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Major Mono Display", monospace;
  height: 19.4vh;
  color: black;
  width: 100%;
  font-size: 60px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  width: 97vw;
}

.intro-page-border {
  position: absolute;
  top: 0;
  left: 0;
  border: 15px solid;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%) 1;
  /**
    border-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%) 1;
  */
}

.page-border {
  position: absolute;
  top: 0;
  left: 0;
  border: 15px solid;
  width: 100%;
  /**
    height: 100%;
  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%) 1;
}

.enter-button {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.button-29 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  width: 195px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.enter-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.enter-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.enter-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/** .enter-button 30 white 
  .button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
*/

/**
  =================================================================================================================================================
  content box 
  =================================================================================================================================================
*/
.content-box {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

/**
  =================================================================================================================================================
  code box
  =================================================================================================================================================
*/

.basic-code{
  border:1px solid blueviolet;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#codebox {
  padding: 15px;
  font-family: Courier, sans-serif;
  font-size: 1em;
  line-height: 1.3;
  color: #fff;
  background-color: #2c3e50;
  -webkit-border-radius: 0px 0px 6px 6px;
  -moz-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  margin-bottom: 10px;
  width: 100%;
}

code {
	font-family: Courier, sans-serif;
  font-size: 1em;
	line-height: 1.3;
}

.codeheader {
  padding: 5px 5px 5px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: #fff;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
	user-select: none;
	-ms-user-select: none; /* IE10+, Edge */
	-moz-user-select: none; /* Mozilla */
	-webkit-user-select: none; /* Safari */
}

#codeheader_html {
  background-color: #3D9970;
}
#codeheader_css {
  background-color: #e67e22;
}
#codeheader_php {
  background-color: #85144b;
}
#codeheader_js {
  background-color: #0074D9;
}

/**
  =================================================================================================================================================
  modal box
  =================================================================================================================================================
*/

.wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* End center */
  background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
  background: linear-gradient(to right, #834d9b, #d04ed6);
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: 'Roboto', sans-serif;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(77 77 77 / 25%);
  transition: all .4s;
  height: 100vh;
  flex-wrap: nowrap;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 26px;
  align-items: center;
}

.modal__footer {
  text-align: right;
  a {
    color: #585858;
  }
  i {
    color: #d02d2c;
  }
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

.item2 {
  font-family: "Source Code Pro", monospace;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 12px;
  font-weight: 400;
  height: 23px;
  /* width: 4px; */
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.item2:focus {
  color: #171e29;
}

.item2:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}


.qr-box{
  border: 2px solid black;
  width: 257px;
}

.qr-box:focus{
  border-color: aquamarine;
}

.qr-box:hover {
  border-color: aquamarine;
}

.qr-h1{
  text-align: center;
}