@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/**
  * {
    box-sizing: border-box;
  }
*/
html {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

/**
  Navbar
*/
.navbar {
  /**
    font-size: 600;
  */
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  /**
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  */
}

/**
  =================================================================================================================================================
  Navigation Bar
  =================================================================================================================================================
*/

ul {
  font-family: "Fira Code", monospace;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

ol {
  float: left;
  font-weight: 500;
}

ol a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

ol a:hover {
  color: #f63c61;
}

/**
  =================================================================================================================================================
  Intro Text
  =================================================================================================================================================
*/

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.intro-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Major Mono Display", monospace;
  height: 19.4vh;
  color: black;
  width: 100%;
  font-size: 60px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  width: 97vw;
}

.intro-page-border {
  position: absolute;
  top: 0;
  left: 0;
  border: 15px solid;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%) 1;
}

.page-border {
  position: absolute;
  top: 0;
  left: 0;
  border: 15px solid;
  width: 100%;
  /**
    height: 100%;
  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%) 1;
}

.enter-button {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.button-29 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  width: 195px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.enter-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.enter-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.enter-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/** .enter-button 30 white 
  .button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
*/

/**
  =================================================================================================================================================
  content box 
  =================================================================================================================================================
*/
.content-box {
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}



